@import '@/assets/styles/constants';


.card {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    background-color: rgba(0, 0, 0, 0.092);
    border: 1px solid rgba(0, 0, 0, 0.047);
    border-radius: 4px;
    margin: 0 4px 10px 4px;
    padding: 10px 8px;
    cursor: grab;
    transition: all .2s;

    &:last-child {
        margin-bottom: 40px;
    }

    p {
        margin-top: 10px;
        width: 90%;
        height: 100%;
        font-size: 14px;
        color: white;
        text-align: center;
        z-index: -1;

        @media (max-width: 991px) {
            font-size: 10px;
        }
    }
}



.activeDrag {
    border-top: 72px solid rgba(87, 87, 87, 0.15);
    transition: all .4s;
} 