@import '@/assets/styles/constants';

.deleteButton {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0px;
    top: 0;
    width: 20px;
    height: 20px;
    background: none;
    color: black;
    font-size: 18px;
    cursor: pointer;

    path {
        transition: all .4s;
    }

    &:hover {
        path {
            fill: $yellow;
            transition: all .4s;
        }
    }
}